@import "tailwindcss";

@theme {
  --color-very-dark-magenta: hsl(300, 43%, 22%);
  --color-soft-pink: hsl(333, 80%, 67%);
  --color-light-soft-pink: hsla(333, 80%, 67%, 0.09);
  --color-dark-grayish-magenta: hsl(303, 10%, 53%);
  --color-light-grayish-agenta: hsl(300, 24%, 96%);
  --color-white: hsl(0, 0%, 100%);

  --text-text: 15px;

  --font-family-text: "League Spartan", sans-serif;

  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
}

@layer base {
  img {
    max-width: 100%;
    display: block;
  }
}

.vote {
  @apply bg-light-soft-pink py-2 rounded-md md:flex  md:justify-start md:items-center md:gap-8 md:max-w-[450px] md:py-4 md:pl-6;
}

.stars {
  @apply text-orange-400 text-xl;
}

.vote p {
  @apply font-700 text-very-dark-magenta;
}

.card {
  @apply bg-very-dark-magenta rounded-md px-6 py-8;
}

.profil {
  @apply flex items-center gap-4 mb-8;

  img {
    width: 50px;
    border-radius: 50%;
  }

  div {
    line-height: 1.2;
  }
}

.profil h2 {
  @apply text-white text-lg font-700;
}

.profil p {
  @apply text-lg text-soft-pink;
}

.card > p {
  @apply text-[18px] text-light-grayish-agenta font-400;
}
